{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block titulo %}{% endblock %} | Polleria Chibi Chicken</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/app.min.css' %}" />
        <style>
            .modal-backdrop{
                display: none !important;
            }
        </style>
    </head>
    <body>
        {% block cuerpo_mesero %}
            <div class="container-layout">
                <div class="content-layout">
                    {% block navegacion %}
                        <nav class="content-aside">
                            <div class="logo">
                                <img src="{% static 'main/img/pollo.png' %}" alt="">
                                <h4>Chibi Chiken</h4>
                            </div>
                            <ul class="nav navbar-nav">
                                <li {% ifequal menu 'saucers' %}class="active"{% endifequal %}><a href="{% url 'main:index' %}"><i class="fa fa-chevron-right" aria-hidden="true"></i> Platillos</a></li>
                                <li {% ifequal menu 'users' %}class="active"{% endifequal %}><a href="{% url 'main:users' %}"><i class="fa fa-chevron-right" aria-hidden="true"></i> Usuarios</a></li>
                                <li><a href="{% url 'main:logout' %}">Cerrar Sesión</a></li>
                            </ul>
                        </nav>
                    {% endblock navegacion %}
                    {% block cuerpo %}{% endblock cuerpo %}
                </div>
            </div>
            {% if messages %}
            <div class="row">
                <br/>
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endblock cuerpo_mesero %}
        <script type="text/javascript" src="{% static 'main/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/app.js' %}"></script>
    </body>
</html>
