{% extends "main/base.html" %}
{% load staticfiles %}





{% block titulo %}Ingresar Mesero{% endblock %}





{% block navegacion %}{% endblock navegacion %}





{% block cuerpo_mesero %}
<div class="fixed_bg"></div>
<div class="section_main">
    <div class="container">
        <form class="form_login" method="post" action="{% url 'main:login_waitress' %}" role="login">{% csrf_token %}
            <h5 class="title">Polleria Chibi Chicken</h5>
            <input id="id_username" maxlength="254" name="username" type="text" placeholder="Usuario" class="form-control"/>
            {% for error in form.username.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <input id="id_password" name="password" type="password" placeholder="Contraseña" class="form-control"/>
            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
                <select id="id_table" class="form-control" name="table">
                    <option>Seleccionar Mesa</option>
                    {% for table in tables %}
                        <option value="{{ table.id }}">Mesa {{ table.number }}</option>
                    {% endfor %}
                </select>
            <button type="submit" name="go" class="btn-submit">INGRESAR</button>
            {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
        </form>
    </div>
</div>
{% endblock %}
