{% extends "main/base.html" %}
{% load staticfiles %}





{% block titulo %}Panel Mesero{% endblock %}





{% block cuerpo_mesero %}
<nav class="navbar navbar-color">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chibi Chiken</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'main:panel_create' table_selected %}">Registrar Pedidos</a></li>
                <li class="active"><a href="{% url 'main:panel_waitress' table_selected %}">Panel de Pedidos</a></li>
                <li><a href="{% url 'main:logout' %}">Cerrar Sesion</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="clearfix">
                <h4>Ingresar numero de Mesa</h4>
                <div class="b_centerForm">
                    <form id="custom-search-form" class="form-search form-horizontal">
                        <div class="input-append span12">
                            <input type="text" class="search-query" placeholder="Search">
                            <button type="submit" class="btn"><i class="fa fa-search"   aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div> -->
            <br>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Nombre Platillo</th>
                        <th>Cantidad</th>
                        <th>Costo del Platillo</th>
                        <th>Costo total del Pedido</th>
                        <th>Mesa</th>
                        <th>Estado Pedido</th>
                        <th>Mandar a Cocina</th>
                        <th>Mandar a Mesa</th>
                        <th>Limpiar Mesa</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.saucer.name }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>S/. {{ order.saucer.price }}</td>
                                <td>S/. {% widthratio order.saucer.price 1 order.quantity %}</td>
                                <td>{{ order.table.number }}</td>
                                <td>{{ order.state }}</td>
                                <td>
                                    {% ifequal order.state 'solicitado' %}
                                    <a href="{% url 'main:send_kitchen' table_selected order.id %}"><button type="submit" class="btn btn-success">Enviar</button></a>
                                    {% endifequal %}
                                </td>
                                <td>
                                    {% ifequal order.state 'para servir' %}
                                    <a href="{% url 'main:send_table' table_selected order.id %}"><button type="submit" class="btn btn-success">Enviar</button></a>
                                    {% endifequal %}
                                </td>
                                <td>
                                    {% ifequal order.state 'servido' %}
                                    <a href="{% url 'main:order_delete' table_selected order.id %}"><button type="submit" class="btn btn-success">Enviar</button></a>
                                    {% endifequal %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
