{% extends "main/base.html" %}
{% load staticfiles %}





{% block titulo %}Panel Mesero{% endblock %}





{% block cuerpo_mesero %}
<nav class="navbar navbar-color">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chibi Chiken</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'main:panel_create' table_selected %}">Registrar Pedidos</a></li>
                <li class="active"><a href="{% url 'main:panel_waitress' table_selected %}">Mesas</a></li>
                <li><a href="{% url 'main:logout' %}">Cerrar Sesion</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-modal" method="post">{% csrf_token %}
                <div class="form-group">
                    <select id="id_table" class="form-control" name="table">
                        <option value="{{ table_selected }}">Mesa # : {{ table_selected }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="id_saucer" class="form-control" name="saucer">
                        <option value="" selected="selected">Platillo</option>
                        {% for saucer in saucers %}
                            {% ifnotequal saucer.quantity 0 %}
                                <option value="{{ saucer.id }}">{{ saucer }}</option>
                            {% endifnotequal %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" id="id_quantity" min="0" name="quantity" type="number" placeholder="Cantidad">
                </div>
                <div class="form-group">
                    <select id="id_state" class="form-control" name="state">
                        <option value="" selected="selected">Estado</option>
                        <option value="solicitado">Solicitado</option>
                        <option value="preparando">Preparando</option>
                        <option value="cancelado">Cancelado</option>
                        <option value="servido">Servido</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Agregar</button>
            </form>
            <br>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Nombre Platillo</th>
                        <th>Costo por Unidad</th>
                        <th>Cantidad</th>
                        <th>Estado Platillo</th>
                    </thead>
                    <tbody>
                        {% for saucer in saucers %}
                            <tr>
                                <td>{{ saucer.name }}</td>
                                <td>S/. {{ saucer.price }}</td>
                                <td>{{ saucer.quantity }}</td>
                                <td>{{ saucer.state }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
