{% extends "main/base.html" %}
{% load staticfiles %}





{% block titulo %}Platillos{% endblock titulo %}




{% block cuerpo_mesero %}
    {% for group in user.groups.all %}
        {% ifequal group.name 'administradores' %}
        <div class="container-layout">
            <div class="content-layout">
                {% block navegacion %}
                    <nav class="content-aside">
                        <div class="logo">
                            <img src="{% static 'main/img/pollo.png' %}" alt="">
                            <h4>Chibi Chiken</h4>
                        </div>
                        <ul class="nav navbar-nav">
                            <li {% ifequal menu 'saucers' %}class="active"{% endifequal %}><a href="{% url 'main:index' %}"><i class="fa fa-chevron-right" aria-hidden="true"></i> Platillos</a></li>
                            <li {% ifequal menu 'users' %}class="active"{% endifequal %}><a href="{% url 'main:users' %}"><i class="fa fa-chevron-right" aria-hidden="true"></i> Usuarios</a></li>
                            <li><a href="{% url 'main:logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                {% endblock navegacion %}
            {% block cuerpo %}
                <div class="content-main clearfix">
                    <div class="clearfix">
                        <h4 class="title-option">Lista de Platillos
                            <button class="btn-agregar" data-title="Agregar" data-toggle="modal" data-target="#agregar" ><i class="fa fa-plus" aria-hidden="true"></i></span></button>
                        </h4>
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="mytable" class="table table-bordred table-striped">
                                    <thead>
                                        <th>Nombre Platillo</th>
                                        <th>Precio Platillo</th>
                                        <th>Estado Platillo</th>
                                        <th>Cantidad Platillos</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </thead>
                                    <tbody>
                                        {% for saucer in saucers %}
                                            <tr>
                                                <td>{{ saucer.name }}</td>
                                                <td>S/. {{ saucer.price }}</td>
                                                <td>{{ saucer.state }}</td>
                                                <td>{{ saucer.quantity }}</td>
                                                <td>
                                                    <button class="btn-table-edit" data-title="Edit" data-toggle="modal"    data-target="#edit{{ saucer.id }}" ><i class="fa fa-pencil" aria-hidden="true"></i></button>

                                                    <div class="modal fade" id="edit{{ saucer.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                                    <h4 class="modal-title custom_align" id="Heading">Editar Platillo</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="form-modal" action="{% url 'main:saucer_update' saucer.id %}"  method="POST">{% csrf_token %}
                                                                        <div class="form-group">
                                                                          <input id="id_name" class="form-control" maxlength="50" name="name" type="text" placeholder="Nombre" value="{{ saucer.name }}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                          <input id="id_price" class="form-control" min="0" step="0.1" name="price" type="number" placeholder="Precio en soles" value="{{ saucer.price }}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <select id="id_state" class="form-control" name="state">
                                                                                <option value="no disponible" {% ifequal saucer.state 'no disponible' %}selected="selected"{% endifequal %}>No disponible</option>
                                                                                <option value="agotado" {% ifequal saucer.state 'agotado' %}selected="selected"{% endifequal %}>Agotado</option>
                                                                                <option value="en stock" {% ifequal saucer.state 'en stock' %}selected="selected"{% endifequal %}>En Stock</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                          <input id="id_quantity" class="form-control" min="0" name="quantity" type="number" placeholder="Cantidad" step="1" value="{{ saucer.quantity }}">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;">Editar</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn-table-delete" data-title="Delete" data-toggle="modal" data-target="#delete{{ saucer.id }}" ><i class="fa fa-trash" aria-hidden="true"></i></span></button>

                                                    <div class="modal fade" id="delete{{ saucer.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                                    <h4 class="modal-title custom_align" id="Heading">Eliminar Platillo</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                  <div class="alert alert-danger">Esta seguro de eliminar el platillo {{ saucer.name }}?</div>
                                                                </div>
                                                                <div class="modal-footer ">
                                                                    <a href="{% url 'main:saucer_delete' saucer.id %}"><button type="button" class="btn btn-success" >ACEPTAR</button></a>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" id="agregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title custom_align" id="Heading">Agregar nuevo platillo</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-modal" action="{% url 'main:saucer_create' %}" method="POST">{% csrf_token %}
                                    <div class="form-group">
                                        <input id="id_name" class="form-control" maxlength="50" name="name" type="text" placeholder="Nombre">
                                    </div>
                                    <div class="form-group">
                                        <input id="id_price" class="form-control" min="0" step="0.1" name="price" type="number" placeholder="Precio en soles">
                                    </div>
                                    <div class="form-group">
                                        <select id="id_state" class="form-control" name="state">
                                            <option value="" selected="selected">Estado</option>
                                            <option value="no disponible">No disponible</option>
                                            <option value="agotado">Agotado</option>
                                            <option value="en stock">En Stock</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input id="id_quantity" class="form-control" min="0" name="quantity" type="number" placeholder="Cantidad" step="1">
                                    </div>
                                    <div class="modal-footer ">
                                        <button type="submit" class="btn btn-success" >ACEPTAR</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock cuerpo %}
        </div>
    </div>
        {% endifequal %}

        {% ifequal group.name 'cocineros' %}
            <nav class="navbar navbar-color">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Chibi Chiken</a>
                    </div>
                    <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
                    <div id="navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'main:logout' %}">Cerrar Sesion</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="clearfix">
                            <h4>Ingresar numero de Mesa</h4>
                            <div class="b_centerForm">
                                <form id="custom-search-form" class="form-search form-horizontal">
                                    <div class="input-append span12">
                                        <input type="text" class="search-query" placeholder="Search">
                                        <button type="submit" class="btn"><i class="fa fa-search"   aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                        <br>
                        <div class="table-responsive">
                            <table id="mytable" class="table table-bordred table-striped">
                                <thead>
                                    <th>Nombre Platillo</th>
                                    <th>Cantidad</th>
                                    <th>Costo del Platillo</th>
                                    <th>Costo total del Pedido</th>
                                    <th>Mesa</th>
                                    <th>Estado Pedido</th>
                                    <th>Mandar a Mesa</th>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>{{ order.saucer.name }}</td>
                                            <td>{{ order.quantity }}</td>
                                            <td>S/. {{ order.saucer.price }}</td>
                                            <td>S/. {% widthratio order.saucer.price 1 order.quantity %}</td>
                                            <td>{{ order.table.number }}</td>
                                            <td>{{ order.state }}</td>
                                            <td>
                                                {% ifequal order.state 'preparando' %}
                                                <a href="{% url 'main:send_table_from_kitchen' order.id %}"><button type="submit" class="btn btn-success">Enviar</button></a>
                                                {% endifequal %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endifequal %}
    {% endfor %}
{% endblock cuerpo_mesero %}
