{% extends "main/base.html" %}
{% load staticfiles %}





{% block titulo %}Usuarios{% endblock titulo %}





{% block cuerpo %}
{% for group in user.groups.all %}
    {% ifequal group.name 'administradores' %}



        <div class="content-main clearfix">
            <div class="clearfix">
                <h4 class="title-option">Lista de Usuarios <button class="btn-agregar" data-title="Agregar" data-toggle="modal" data-target="#agregar" ><i class="fa fa-plus" aria-hidden="true"></i></span></button></h4>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Username</th>
                                <th>Categoría</th>
                                <th>Eliminar</th>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                    <tr>
                                        <td>{{ employee.first_name }}</td>
                                        <td>{{ employee.last_name }}</td>
                                        <td>{{ employee.username }}</td>
                                        <td>{{ employee.groups.all.0 }}</td>
                                        <td>
                                            <button class="btn-table-delete" data-title="Delete" data-toggle="modal" data-target="#delete{{ employee.id }}" ><i class="fa fa-trash" aria-hidden="true"></i></span></button>

                                            <div class="modal fade" id="delete{{ employee.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                            <h4 class="modal-title custom_align" id="Heading">Eliminar Usuario</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="alert alert-danger">Esta seguro de eliminar al usuario {{ employee.first_name }} {{ employee.last_name }}?</div>
                                                        </div>
                                                        <div class="modal-footer ">
                                                            <a href="{% url 'main:user_delete' employee.id %}"><button type="button" class="btn btn-success" >ACEPTAR</button></a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




        <div class="modal fade" id="agregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title custom_align" id="Heading">Crear Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-modal" action="{% url 'main:user_create' %}" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <input id='id_first_name' name="first_name" class="form-control" type="text"    placeholder="Nombres">
                            </div>
                            <div class="form-group">
                                <input id='id_last_name' name="last_name" class="form-control" type="text" placeholder="Apellidos">
                            </div>
                            <div class="form-group">
                                <input id='id_username' name="username" class="form-control" type="text" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input id='id_password' name="password" class="form-control" type="password" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <select id='id_groups' class="form-control" name="groups">
                                    <option value="" selected="selected">Categoria</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Mesero</option>
                                    <option value="3">Cocinero</option>
                                </select>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-success" >ACEPTAR</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endifequal %}
{% endfor %}
{% endblock cuerpo %}
